*{
    box-sizing: border-box;
    font-family: sans-serif;
}

#grid-container{
    display: grid;
    grid-template-areas: "header" 
                         "main"
                         "footer";
    grid-row-gap: 0px;
    grid-column-gap:10px;
    grid-template-rows: 0fr 1fr 0fr;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.navbar{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 0.5rem;
    color: #000;
}

.home-btn{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    color: #000;
    font-weight: bold;
}

.portfolio-btn{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    color: #000;
    font-weight: bold;
}

.about-btn{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    color:#000 ;
    font-weight: bold;
}

.contact-btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    background-color: #e6bd43;
    color: #000;
    padding: 1rem ;
    margin: 0rem 12.5rem;
}

h1{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p-heading{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
}

.read-more-btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    background-color: #e6bd43;
    color: #000;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0rem 0rem 0rem 6rem;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-110%, -10%);
}


.desktop-bilde{
    display: none;
}

.mobile-bilde{
    background-image:url(https://placehold.co/400) ; /*kilde https://www.w3schools.com/cssref/pr_background-image.php*/
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    opacity: 0.6; /*kilde https://www.w3schools.com/css/css_background.asp*/ 
} 

.about-bilde{
    background-image:url(https://placehold.co/400) ; /*kilde https://www.w3schools.com/cssref/pr_background-image.php*/
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
    opacity: 0.7;
}

.about-section-1{
    position: absolute;
    top: 50%;
    left: 50% ;
    transform:translate(-35%, -20%);
    width: 70%;
    background-color: rgba(255, 255, 255, 0.408);
    padding: 1rem;
}

.about-h2{
    padding: 0rem 0rem 0rem 1rem;
    margin: 1rem;
}

.about-p-1{
    margin: 0rem 0rem 1.5rem 0rem;
}

.get-in-touch-btn{
    width: 70%;
    padding: 0.5rem;
    margin: 1rem 2rem;
}

.get-in-touch-a{
    display: flex;
    text-align: left;
}


.section-1{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 1rem 0rem;
}


.section-2-f{
    text-align: center;
    padding: 2rem;
}

.section-3-f{
    text-align: center;
    padding: 2rem;
    background-color: #e6bd43;
}

.section-4-f{
    text-align: center;
}

.mobile-bilde-2{
    padding: 2rem;
}

.article-1-f{
    padding: 0rem 5rem;
    text-align: left;
}

h3{
    font-weight: bold;
    font-size: 25px;
    padding: 0rem 1rem;
}

h5{
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    padding: 0rem 2rem;
}

#Our-services{
    text-align: center;
}

section article i{
    font-size: 30px;
}

.p-overskrift{
    font-weight: bold;
}

p{
    padding: 0rem 2rem;
}


main section article button{
    padding: 2rem;
    margin: 0rem 0rem 0rem 4.5rem;
    background-color: #e6bd43;
}

main section article button a{
    color: #000;
    text-decoration: none;
}

.sign-up-f{
    background-color: #2525252d;
    padding: 3rem;
}

.p-signup-overskrift{
    font-weight: bold;
    font-size: 30px;
    padding: 0rem;
    text-align: center;
}

section form{
    display: flex;
    justify-content: center;
}

.sign-up-email{
    background-color: white;
    padding: 1rem 10rem 1rem 1rem;
    color: #2525252d;
}

.sign-up-btn{
    background-color: #e6bd43;
    color: #000;
    font-weight: bold;
    margin: 0rem;
}

footer{
    text-align: center;
    background-color: #252525;
    color: white;
    padding: 0rem 0rem 3rem 0rem;
}

.footer-img{
    text-align: center;
    padding: 5rem 0rem 0rem 0rem;
}

footer a{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    font-size: 40px;
}

footer p{
    padding: 2.5rem 2rem 0rem 2rem;
    font-size: 25px;
}

main section span{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0rem 0rem 2rem;
}

h4{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    padding: 0rem 8rem 0rem 0rem;
}

hr{
    height: 2px;
    width: 80%;
    background-color: #e6bd43;
}

main section button{
    font-size: 20px;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
}

main section button a{
    text-decoration: none;
    color: #000;
}

.article-1-p{
    background-color: white;
}

.p-center{
    text-align: center;
    margin: 3rem;
}

#branding, #design, #development{
   display: flex;
   justify-content: left;
   padding: 0rem 0rem 0rem 3rem;
}

.portfolio-p{
    display: flex;
    justify-content: left;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    padding: 0rem;
}

.about-form{
    display: flex;
    flex-wrap: wrap;
    
}


.clients-about{
    background-color: #e6bd43;
}

.clients-h4{
   text-align: center;
   padding: 5rem 0rem 0rem 0rem;
}

.logo-1{
    padding: 2rem 0rem 0rem 4rem;
}

.logo-2{
    padding: 2rem 0rem 0rem 4rem;
}

.logo-3{
   padding: 3rem 0rem 3rem 10.5rem;
}

.section-form{
    background-color: #2525250f;
}


section article form{
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 1rem;
}

#contact{
    text-align: center;
    padding: 5rem 0rem 0rem 0rem;
    margin: 0rem;
}

#subject{
    color: #25252569;
}

#name{
    color: #25252569;
}

.form-p-about{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    padding: 3rem 1rem 1rem 1rem;
}

.form-btn-about{
    background-color: #e6bd43;
    padding: 1rem;
    margin: 0rem 14rem 4rem 0rem;
}

.contact-info-about{
    font-size: 20px;
    font-weight: bold;
}

section article ul li i{
    font-size: 15px;
}

section article ul li{
    list-style: none;
    padding: 0.5rem;
}

.contact-icons{
    margin: 0rem;
    padding: 0rem 0rem 3rem 1.5rem;
}

section iframe{
    display: flex;
    width: 100%;
    height: 250px;
}

.kart-section{
    padding: 0rem;
    margin: 0rem;
    background-color: #252525;
}

footer section{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0rem 5rem 3rem 5rem;
}

#til-toppen{
    top: 740px;
    right: 20px;
    position: fixed; /*kilde linje 12 (https://stackoverflow.com/questions/11399537/how-do-you-make-a-div-follow-as-you-scroll)*/
    background-color: #000;
    color: #fff;
    font-size: 60px;
    padding: 1rem;
}


@media only screen and (min-width:600px){
    
    #grid-container{
        display: grid;
        grid-template-areas: "header header header"
                             "main main main"
                             "footer footer footer";
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0fr 1fr 0fr;
    }

    html{
        font-family: sans-serif;
        max-width: 1600px;
    }

    nav{
        margin: 0rem;
    }

    nav img{
        display: flex;
        justify-content: left;
        margin: 3rem;
        padding: 0rem 1rem 0rem 0rem;
        width: 8%;
    }

    nav a{
        position: sticky;
        top: 50%;
    }

    nav p{
        display: flex;
        margin: 0rem 6rem 6rem 0rem;
    }

    header nav p{
        justify-content: right;
        margin: 0rem 6rem 6rem 0rem;
        padding: 1rem 1rem;
    }

    .home-btn{
        margin: 1rem;
        font-size: 15px;
    }

    .portfolio-btn{
        padding: 1.5rem 0rem 0rem 0rem;
        font-size: 15px;
    }

    .about-btn{
        font-size: 15px;
        margin: 1rem;
    }

    .navbar{
        margin: 1rem;
        font-size: 15px;
    }

    .contact-btn{
        margin: 0rem;
        padding: 1rem;
        font-size: 15px;
    }

    .mobile-bilde{
        display: none;
    }

    .desktop-bilde{
        display: flex;
        width: 100%;
        height: 50%;
    }

    .section-1{
        position: relative;
        text-align: center;
        color: rgb(0, 0, 0);
        padding: 1rem 0rem;
    }

    h1{
        font-size: 50px;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .p-heading{
        font-size: 25px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem;
    }

    .read-more-btn{
        position: absolute;
        top: 40%;
        left: 56%;
        transform: translate(-110%, -10%);
        font-size: 20px;
    }

    h3{
        font-size: 30px;
        padding: 1rem 27rem;
    }

    p{
        font-size: 20px;
        padding: 1rem 23rem;
    }

    .mobile-bilde-2{
        display: flex;
        width: 100%;
        height: 100%;
    }

    .section-3-f{
        display: flex;
    }

    .section-3-f-p{
        padding: 0rem 25rem 0rem 0rem;
        font-size: 20px;
    }

    h5{
        padding: 0rem 0rem;
        font-size: 30px;
    }

    main section article button{
        margin: 0rem;
        padding: 1rem;
        font-size: 25px;
    }
    
    main section article button a{
        font-size: 20px;
    }

    .article-1-f{
        padding: 1rem 5rem;
    }

    .article-4-f{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0rem 0rem 4rem 0rem;
    }

    section div article i{
        font-size: 60px;
    }

    .p-overskrift{
        font-size: 15px;
    }

    .our-services-p{
        padding: 1rem 1rem;
        margin: 0rem 3rem 0rem;
        font-size: 20px;
    }

    #Our-services{
        font-size: 30px;
        padding: 5rem 0rem 1rem 0rem;
    }

    section div article i{
        font-size: 30px;
    }

    .p-signup-overskrift{
        font-size: 33px;
    }

    section form{
        font-size: 15px;
    }

    .sign-up-email{
        padding: 1rem 10rem 1rem 1rem;
    }

    .sign-up-btn{
        font-size: 15px;
    }

    footer{
        display: flex;
        justify-content: space-around;
    }

    .footer-img{
        width: 210px;
    }

    footer p{
        font-size: 20px;
        padding: 10rem 2rem 0rem 2rem;
    }

    footer section{
        display: flex;
        justify-content: space-between;
        padding: 13rem 5rem 3rem 5rem;
    }

    .section-1{
        display: flex;
    }

    .mobile-bilde-portfolio{
        background-image: url(https://placehold.co/600x400) ;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 500px;
        opacity: 0.6;
    }

    .heading-portfolio{
        position: absolute;
        font-size: 50px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h4{
        justify-content: left;
        font-size: 30px;
        margin: 5rem 0rem 1rem 11rem;
    }

    main section span{
        
        margin: 3rem 0rem 5rem 9.5rem;
    }

    main section button{
        font-size: 20px;
    }

    .branding-articles{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 2rem 8rem 5rem 8rem;
        align-items: stretch;
    }

    .p-center{
        margin: 0rem;
    }

    main section div article img{
        width: 350px;
        height: 350px;
    }

    #branding{
        font-size: 30px;
        margin: 0rem 0rem 1.5rem 8rem;
    }

    #design{
        font-size: 30px;
        margin: 0rem 0rem 1.5rem 8rem;
    }

    .design-articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 1rem 8rem 5rem 8rem;

    }

    #development{
        font-size: 30px;
        margin: 0rem 0rem 1.5rem 8rem;
    }

    .development-articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0rem 9rem 0rem 9rem;
    }

    .development-img{
        width: 350px;
        height: 350px;
    }

    .about-section-1{
        top: 60%;
        width:50%;
        left: 65%;
    }

    .about-bilde{
        height: 500px;
    }

    .about-p-1{
        font-size: 15px;
        padding: 1rem 3rem;
    }

    .company-name{
        padding: 0rem 3rem;
        font-size: 15px;
    }
    
    .about-h2{
        padding: 0rem 0rem 0rem 2rem;
        font-weight: bold;
        font-size: 25px;
    }

    .get-in-touch-btn{
        padding: 0.5rem;
        margin: 0rem 3rem 3rem;
        width: 30%;
    }

    .get-in-touch-a{
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        font-size: 17px;
    }

    section div article p{
        padding: 1rem;
        margin: 0rem 5rem 1rem 5rem;
    }

    .clients-h4{
        display: flex;
        justify-content: center;
        margin: 0rem 1rem;
        padding: 6rem;
    }

    .logos{
        display: flex;
        justify-content: center;
        padding: 0rem 0rem 6rem 0rem;
    }

    .logo-1{
        width: 13%;
        padding: 2rem;
    }

    .logo-2{
        width: 13%;
        padding: 2rem;
    }

    .logo-3{
        width: 13%;
        padding: 2rem;
    }

    .form-p-about{
        padding: 3rem 1rem 1rem 20rem;
        font-size: 20px;
    }

    .about-form{
        display: flex;
        flex-direction: column;
        max-width: 30%;
        margin: 1rem 0rem 0rem 20rem;
    }

    #name{
        width: 500px;
    }

    #subject{
        width: 500px;
    }

    section article form textarea{
        width: 500px;
        height: 150px;
    }

    .contact-article-2{
        position: absolute;
        top: 225%;
        left: 73%;
        transform: translate(-50%, -50%);
        width: 40%;
    }

    .contact-info-about{
        font-size: 20px;
        padding: 0rem;
    }

    .contact-info-p{
        padding: 0rem;
        font-size: 18px;
    }

    .contact-icons{
        padding: 0rem;
    }

    section article ul li{
        font-size: 20px;
        padding: 1rem 0rem 0rem 0rem;
    }

    section article ul li i{
        font-size: 20px;
        padding: 0rem 2rem 0rem 0rem;
    }

    .form-btn-about{
        padding: 0.5rem;
        margin: 0rem 45rem 4rem 0rem;
        font-size: 15px;
    }

    .kart-section{
        height: fit-content;
        background-color: #fff;
    }

}